*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #23252C;
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

#root{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 80vmin;
    max-width: 440px;
    height: auto;
    background-color: #1A1B21;
    border-radius: 10px;

    .header {
        .profile_photo {
            width: 100%;
            height: 250px;
            border-radius: 10px 10px 0 0;
        }
        .name {
            color: #fff;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            margin: 20px 0 5px 0;
        }
        .role {
            color: #F3BF99;
            text-align: center;
            font-size: 14px;
            margin: 0 0 8px 0;
        }
        .website {
            color: #F5F5F5;
            text-align: center;
            display: block;
            text-decoration: none;
            cursor: pointer;
            font-size: 14px;
            margin: 0 0 10px 0;
        }
        .github-btn {
            display: block;
            margin: 0 auto;
            padding: 6px 80px;
            background-color: #fff;
            color: #374151;
            border-radius: 6px;
            text-align: center;
            .gh-ic-btn {
                width: 20px;
            }
            .btn-text {
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    margin: 0 4px;
                    font-weight: bold;
                    font-size: 16px;
                }
            }
        }
    }
}
.main {
    padding: 0 20px;
    h3 {
        color: #F5F5F5;
        font-size: 18px;
    }
    p {
        color: #DCDCDC;
        font-size: 14px;
    }
    .main-about {
        h3 {
            margin:30px 0 5px 0;
        }
        
    }
    .main-interests {
        h3 {
            margin: 15px 0 5px 0;
        }
    }
}
.footer {
    margin-top: 30px;
    padding: 20px;
    background-color: #161619;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    .tw-ic, .ig-ic, .gh-ic{
        width: 30px;
        margin: 0 20px;
    }
}